<h2>Title : <%= @book.title %></h2>
<h4>Author : <%= @book.author %></h4>
<br>
<form action= "/books/edit/<%= @book.id%>" method="post">
	<input type="submit" value="Edit">
</form>
<br>
<form action = "/books/delete/<%= @book.id%>" method = "post">
	<input type="submit" value="Delete">
</form>
<br>

<% if @book.reviews.any? %>
	<% @book.reviews.each do |review| %>
		<%= review.content %> by <%= User.find(review.user_id).user_name %>. Rating: <%= review.rating%>/5<br>
		<%end%>
<%else%>
<br>
	<p>No review yet.</p>
<%end%>

<br>
<a href="/books/review/<%= @book.id%>">Add Reviews</a>
<br>
<a class="button" href="/books">List of Books</a>

<!-- <a class="button" href="/">Back to Homepage</a> -->
